@using Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
}

@foreach(Book book in Model)
{
    <div>
        <h3>@book.Name</h3>
        <p>@book.Author</p>
        <h4>@book.Price.ToString("# $")</h4>
    </div>
    <hr/>
}

